// Primary

$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

// Neutral

$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

// Fonts size
$default-font: 0.9375rem;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

// Font
$font-spartan: "Spartan", sans-serif;
